<div class="container">
  <div class="row">
    <h1 class="text-center">Buy</h1>
  </div>

  <div class="row">
    <form method="POST" action="/buy" class="form-group col-sm-6 col-sm-offset-3">
      <label class="control-label" for="buy">Stock</label>
      <input class="form-control" autocomplete="off" name="buy" id="buy" type="text">
      <input class="top-buffer btn btn-primary col-sm-6 col-sm-offset-3" type="submit" name="get-quote-button" value="Buy Stock">
    </form>
  </div>
</div>