<div class="container">
	<div class="row">
		<h1 class="text-center">ERROR!</h1>
	</div>
	<div class="row text-center">
		<h3>{{message}}</h3>
		<p>{{details}}</p>
		<a href={{back}}>Back</a>
	</div>
</div>